@import "tailwindcss";

body{
  display: flex;
  background-color: slateblue;
  justify-content: center;
}
.titulo{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}